# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache

logs/*.log
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
webchat-1.0
*.pem
haproxy/haproxy.cfg
